<app-loading></app-loading>
<diV class="main-content">
    <div>
        <h1>Product List</h1>
    </div>
    <div class="div-add">
        <app-filter (filterProductEvent)="filterProductHandle($event)"></app-filter>
    </div>
    <div class="div-filter"></div>
        <button mat-fab color="primary" aria-label="Add" [routerLink]="['/products/new']">
            <mat-icon>add</mat-icon>
        </button>
    </div>
@if (products | async; as resultObject) {
    <table mat-table [dataSource]="resultObject | filter:searchTerm()">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let product"> {{product.name}} </td>
        </ng-container>

        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let product"> {{product.price }} </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let product"> {{product.category }} </td>
        </ng-container>

        <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef> Stock </th>
            <td mat-cell *matCellDef="let product"> {{product.stock }} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let product">
                <mat-icon [ngStyle]="{'color':'blue'}" [routerLink]="['/products/edit', product.id]">edit</mat-icon>
                <mat-icon [ngStyle]="{'color':'red'}" (click)="deleteProduct(product.id)">delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="['name', 'price', 'category', 'stock', 'actions']"></tr>
        <tr mat-row *matRowDef="let row; columns: ['name', 'price', 'category', 'stock', 'actions'];"></tr>
    </table>
}
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria.label="Select page of periodic elements">
    </mat-paginator>
</diV>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
